* {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  background: #fff;
}

body {
  margin: 0;
  color: #343b3f;
  font-family: 'Nunito', 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  -webkit-tap-highlight-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
